.swiper {
    width: 600px;
    height: 300px;
}
.swiper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 90%;
    height: 90%;
}