.header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;


}
.navBar{
    display: flex;
    justify-content: space-around;
    height: max-content;
    z-index: 1;
}
.icon{
    width:3vh;
    height: 3vh;


}
.icon:hover {
    background-color: var(--grey);
    border-radius: 20%;
}
.a{
    padding: 5px;

}
.a:hover{
    background-color: var(--grey);
    border-radius: 20%;
}